<%- include('../partials/header', { title: 'Error' }) %>

<div class="container error-container">
  <h1>500</h1>
  <p>Something went wrong</p>
  <a href="/" class="btn">Go Home</a>
</div>

<%- include('../partials/footer') %>